<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 99%), url(<%=image_path('curtains.jpeg')%>">
  <div class="banner-content">
    <p>Poster</p>
    <h1><%= @movie.title %> (<%= @movie.year %>)</h1>
    <p>Emoji Synopsis: <%= @movie.emoji_group %></p>
    <p>Plot Synopsis: <%= @movie.synopsis %></p>
    <p>Director: <%= @movie.director %></p>
    <p>Cast: </p>
    <% @movie.actor.each do |a| %>
      <p><%= a.name %></p>
    <% end %>
    <a class="btn btn-primary btn-lg">Watch Now</a>
  </div>
</div>
