<div class="banner" style="background-image: linear-gradient(-100deg, rgba(0,0,0,0) 100%, rgba(0,36,61,0.6) 99%), url(<%=image_path('theatre_landing.jpg')%>">
  <div class="text-center">
    <div class="freeflix-logo">
      <%= cl_image_tag "logo_landing.png", height: 200, crop:"scale" %>
    </div>
    <div class="banner-content text-center">
      <h2>Freeflix and chill for poor people.</h2>
    </div>
		<div>
	    <%= link_to movies_path() , :method=> :post, class: "btn btn-freeflix" do%><% end %>
	  </div>
    <div class="snarly">
      <%= cl_image_tag "snarly.png", height: 200, crop:"scale" %>
    </div>

  <div class="search-bar">
    <%= form_for @movie, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <p class="emoji-picker-container">
        <%= f.text_field :title, class: 'form-control', data: { emojiable: true } %>
      </p>
      <br>
      <%= link_to "Search", movies_path(), class: 'btn btn-search' %>
      <%= f.submit "Search", class: 'hidden' %>
    <% end %>
  </div>
    </div>
</div>
