<div class="banner" style="background-image: linear-gradient(-100deg, rgba(0,0,0,0) 100%, rgba(0,36,61,0.6) 99%), url(<%=image_path('theatre_landing.jpg')%>">
    <div class="text-center">
    	<div class="freeflix-logo">
          <%= cl_image_tag "logo.png", height: 200, crop:"scale" %>
        </div>
	    	<div class="banner-content text-center">
		    	<h2>Freeflix and chill. | Netflix for poor people.</h2>
			<div>
		    	<%= link_to movies_path() , :method=> :post, class: "btn btn-freeflix btn-freeflix-white" do%>
		        <% end %>
		    </div>
	    </div>
	    <div class="snarly">
        	<%= cl_image_tag "snarly.jpg", height: 200, crop:"scale" %>
        </div>

        <p class="emoji-picker-container">
        	<%= image_tag "emoji/8ball.png" %>
</p>


    </div>
</div>
